.sg1 {
position: relative;
 transition: 0.5s;
 }
 
 .sg1:hover {
    transform: scale(1.03);
 }
 
 
 .sg2 {
position: relative;
 transition: 0.5s;
 }
 
 .sg2:hover {
    transform: scale(1.03);
 }
 
 
 .sg3 {
position: relative;
 transition: 0.5s;
 }
 
 .sg3:hover {
    transform: scale(1.03);
 }
 
 
 
 body {
 background: #c7b39b url(back.png);
 }
 
 
  .nf1 {
color: #03fc24;
font-family:Agency FB;
font-size:100pt;
 }
 
 .nf {
color: #0088ff;
font-family:Agency FB;
font-size:60pt;
 }
 
 
 
 
  .sgo {
color: #ff0000;
font-family:Agency FB;
font-size: 60pt;
 }
 
   .sgp {
color: #ff0000;
font-family:Agency FB;
font-size: 60pt;
 }